/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2016, 9:39:48
    Author     : DMRBOOKS\echulde
*/


#bd-ufc {     
    width: 140px;
}
#txt-stock { 
    width: 50px;
}
#bd-desde { 
    width: 140px;
}
#bd-hasta { 
    width: 140px;
}

#cb-provedor {
    width: 160px;
}
#txt-stockcomp { 
    width: 50px;
}
#cb-provedorcomp {
    width: 160px;
}
#bd-desdecomp { 
    width: 140px;
}
#bd-hastacomp { 
    width: 140px;
}

