*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFF;    
    margin:0px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
header, nav{
    display: block;
}

/* Definimos un ancho 100% y una altura fija para nuestro menú */
header{
    background: #22282e;
    height:60px;
    position: relative;
    width: 100%;
    z-index: 2
}


section{
    margin-top:20px;    
}
section table tr td input{
    width:80%;
    height:35px;
    outline:none;
    font-size:12px;
}


div.centerTable{
        text-align: center;
}
 
div.centerTable table {
       margin: 0 auto;
       text-align: left;
}

/* El logo sera flotado a la izquierda */
#logo{
    background: url(../recursos/icono.png) no-repeat 0 0;
    display: block;
    float: left;
    margin: 6px 10px 0;
    width: 82px;
    height: 46px;
    text-indent: -9999px
}

/* Nuestro nav con id #menu lo flotaremos a la derecha*/
#menu{float: right;}   

    /* Quitamos estilos por defecto de el tag UL */
    #menu ul{
        list-style: none;
        font-size: 14px;
    }
        
        /* Centramos y ponemos los textos en mayuscula */
        #menu li{
           display: block;
           float: left;
           text-transform: uppercase;
           text-align: center;
        }
            
            /* Damos estilo a nuestros enlaces */
            #menu li a{
                display: block;
                color: #fff;
                text-decoration: none;
                height: 60px;
                line-height: 60px;
                padding: 0 26px;
            }
            #menu li a:hover{
                background: #151a1e;
                color: #ffc700;
            }
    
    /* Estilos #nav-mobile y lo ocultamos */
    #nav-mobile{
        display: none;
        background: url(../recursos/nav.png) no-repeat center center;
        float: right;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top:0;
        opacity: .6;

    }   
        /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
        #nav-mobile.nav-active{
            opacity: 1;
        }

/* Content */
#content{
    width: 80%;
    margin: 1px 10%;
    text-align: center;    
}
    h2{
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: #624c3f;
    }


.cabecera{
   position:absolute;
   position:absolute;
   width: 100px;
   left: 50%;
   margin-left: -100px;
}

/*
    MEDIA QUERY
*/

@media only screen and (max-width: 768px) {
        
    h2{font-size: 40px;}
    
    /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }

    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo  */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
    }
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 1px solid #282b30;
                float: none;
            }

            /* Quitamos el borde del ultimo item del menú */
            #menu li:last-child{ border-bottom: 0;}
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background:#2a2d33}

        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            -webkit-transition: max-height .4s;
            -moz-transition: max-height .4s;
            -ms-transition: max-height .4s;
            -o-transition: max-height .4s;
            transition: max-height .4s;
        }
}

.registros{
    margin:auto;
    width:auto;
    margin-top:15px;
    border:0px solid #6F96DF;
    height:auto;
    padding:10px;
}

.registros2{
    margin:auto;
    width:50%;
    margin-top:15px;
    border:0px solid #6F96DF;
    height:auto;
    padding:10px;
}

.formulario table tr td{
    padding:10px;
}
.formulario table tr td input{
    width:100%;
    outline:none;
}
.formulario table tr td select{
    width:100%;
    height:30px;
    outline:none;
}
.bien{
    background-color:#3CBE34;
    text-align:center;
    font-size:14px;
    color:#FFF;
    padding:5px;
}

.form-signin {
    max-width: 400px;
    padding: 10px 19px 19px;
    margin: 0 auto;    
    background-color: #F5F5F5;
    
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
            
    font-family:Tahoma, Geneva, sans-serif;
    color:#990000;
    font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#000;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container {   
    margin-top:30px;
}

#btn-submit{
    height:35px;
}


